VITE_SUPABASE_URL=https://oouphaizxfpqqkqiibbb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vdXBoYWl6eGZwcXFrcWlpYmJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NTY5MDIsImV4cCI6MjA5MzUzMjkwMn0.y-pj1lbXM2vkW_XGYNILj8gwIboCh6-hCDyQV_SjPQc
VITE_API_URL=https://vercel.com/logeshmech775-8705s-projects/thenicarzmn/ai-gateway
